# Python cache dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Sanal ortam klasörleri
env/
venv/
.venv/

# IDE ve sistem dosyaları
.vscode/
.idea/
.DS_Store

# Log dosyaları
*.log

# Excel çıktı dosyaları (kayitli_veriler.xlsx gibi)
*.xlsx

# Diğer geçici dosyalar
*.tmp
